.exemplares .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto 10rem auto;
}

.section-title {
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    margin: 0 0 3rem 0;
}

.exemplares .box-container .box{
    height: 200px;
    border-radius: .5rem;
    overflow:hidden;
    position: relative;
    box-shadow: var(--box-shadow);
}

.exemplares .box-container .box img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.exemplares .box-container .box span{
    position: absolute;
    top:1rem; right: 2rem;
    font-weight: bolder;
    font-size: 5rem;
    color:var(--black);
}

.exemplares .box-container .box .content{
    height: 100%;
    width: 100%;
    position: absolute;
    top:6rem; left: 0;
    transition-delay: .3s;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.exemplares .box-container .box:hover .content{
    top:0; 
    opacity: 1;
}

.exemplares .box-container .box .content h3{
    font-size: 2.5rem;
    padding-bottom: .5rem;
    margin: 0 0 0 1em;
    color: #292929;
}

.exemplares .box-container .box .content p{
    font-size: 1.5rem;
}

.exemplares .box-container .box::before{
    height: 100%;
    width: 100%;
    content: '';
    position: absolute;
    top:0; left: 0;
    background: #fff;
    clip-path: circle(30% at 93% 0);
    transition: .3s linear;
}

.exemplares .box-container .box:hover::before{
    clip-path: circle(100%);
}